NODE_ENV=development
PORT=5005
DATABASE_URL="postgresql://postgres:Kydo280102;@localhost:5432/erpmitsutoyo2?schema=public"
SO_DEMAND_TIME_FENCE_DAYS=30
SO_DEMAND_TIME_FENCE_HOURS=0
LICENSE_INTEGRITY_SECRET=81a610bb73793a06e1d11e24e9eb81c60efb58d2fb6a8fe0f0ab0fa17dc84207
LICENSE_INTEGRITY_SIGNATURE=4688466136dcec587878ad90bd49ae028cc6c2d3e5ff35ea325a2060fed28849
JWT_SECRET=your-super-secret-jwt-key-here
AUTH_SERVER_IPS=enc:v1:lxNP0Ltqe3WleYWC:ELT5VplnX7ziLWdFVt9TAA:FMVPLnDt2idOGAiq46puHG80paiDqHQNM95D3RTKxUcLww
AUTH_SERVER_IPS_SECRET=HIDUP-JOKOWI-2024-ENC:V1:U2FsdGVkX1+qzjv5uYp8Z9s3n5t6r7w8x9y0a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0u1v2w3x4y5z6A==
PUBLIC_API_ORIGIN=http://localhost:5005
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123
DEFAULT_ADMIN_FULLNAME=Super Administrator
DIES_CAPACITY_BLOCKING_ENABLED=false
